.container {
    max-width: 960px;
}

.lh-condensed {
    line-height: 1.25;
}

<<<<<<< HEAD
.p-2 {
    padding: 10px;
}
=======
html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
>>>>>>> 60c1ebed50892c3d5664b5c31c94905865b9b359